{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tingyun/css/bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'tingyun/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'tingyun/css/mycss.css' %}"
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>show db</title>
</head>
<style type = "text/css">
</style>
<body>
<p>

<div class="panel panel-default">
  <div class="panel-body">
    很不好意思,您来到了错误的异次元~~~
{{" " | escape|linebreaks}}
<h3>{{ res }}</h3>
  </div>
</div>

</p>
</body>

