<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>tingyun</title>
</head>
<style type = "text/css">

</style>
<body>
<p>请输入两个数字</p>
<form action="/add/" method="get">
    a: <input type="text" id="a" name="a"> <br>
    b: <input type="text" id="b" name="b"> <br>
    <p>result: <span id='result'></span></p>
    <button type="button" id='sum'>提交</button>
</form>
 
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>


<div class = "all">
	<div class = "a1" align = "left" height = 10%>
		<form  action = "/read/" method = "get">
			<table align = "left" height = 10% width = 20%>
				<tr>
					<td>用户名:</td><td><input id = "user" type = "text"></input></td><br/>
				</tr>
				<tr>
					<td>密码:</td><td><input id = "pass" type = "password"></input></td><br/>
				</tr>
				<p>你要数据如下:<span id = 'res'></span></p>
				<tr><th colspan = 2><button type = "button" id = "res1" >提交</input></th></tr>
			</table>
		</form>
	</div><br/><br/><br/><br/><br/><br/>
<script>
    $(document).ready(function(){
      $("#res1").click(function(){
        var a = $("#user").val();
        $.get("/read/",{'user':a}, function(ret){
            $('#res').html(ret)
        })
      });
    });
</script>

	<div class="a2" align = "left" width = 100%>
	{% for hong in copyright_list %}

	A : {{ hong.artist_info }}
	B : {{ hong.company }}
	C : {{ hong.album_info }}
	D : {{ hong.song_info }}
	E : {{ hong.site_name }}
	{{" " | escape|linebreaks}}
	
	{% endfor %}
	</div>

</div>

</body>
