{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tingyun/css/bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'tingyun/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'tingyun/css/mycss.css' %}"

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>tingyun</title>
</head>
<body id = "b">
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

<nav class="navbar navbar-inverse" style="text-align: center;">
	<div class="contain" style="display: inline-block;float: none;">
		<p class="navbar-text" >欢迎使用tinyun音乐版权搜索</p>
	</div>  
</nav>
</div>

<div id = "tingyun">
<div class = "all" >
	<div class = "a1" align = "center" height = 10% >
		<form  action = "/hong/" method = "get">
			<table align = "left" height = 10% width = 100% border = "0">
				<tr>
				<td width = "40%" align = "right"></td>
				<td width = "15%" align = "center">
				<input id = "user"type="text" class="form-control" placeholder="请输入关键词" aria-describedby="basic-addon2" type = "text"></input></td><br/>
				
				<td width = "40%" align = "left" >
					<button  type="button" class="btn btn-default btn-lg">
					<span id="res1" class="glyphicon glyphicon-zoom-in" aria-hidden="true" style="font-size:13;"></span>
					</button>
					</td></tr>
			</table>
		</form>
<table class = "return_table" width = "100%">	
	<tr><td><span id = 'res'></span></td></tr>
</table>
	</div><br/><br/><br/><br/><br/><br/>

<div>
<ul class="nav nav-pills">
<li role="presentation" ><a href = "/home/">call back</a></li>

</ul>
<script>
   $(document).ready(function(){
      $("#res1").click(function(){
        //alert($("#user").val())
	var a = $("#user").val().replace(/[\r\n]/g,"");
        $.get("/read/",{'search':a}, function(ret){
	    $('#res').html(ret)
        })
      });
    });

/*
$("body").keydown(function() {
             if (event.keyCode == "13") {
                 $('#res1').click();
		 //alert($("#user").val())
             }
         });
*/
</script>
<script>
 $("body").keydown(function() {
             if (event.keyCode == "13") {//keyCode=13是回车键
             //if (event.ctrlKey && event.which == "13") { //启用这句话,需要在function中将返回的值设成event
		$.get("/read/",{'search':$("#user").val()}, function(ret){
	  	  $('#res').html(ret)
    		 })
             }
         });

</script>


</div>

</body>

<!--
    $.ajax({
    	url: "/read/",
    	type: "GET",
	global: false,
	data: {"search":$("#user").val()}
	success: function (data) {
		alert(data)
	}
    })
-->

