<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>show db</title>
</head>
<style type = "text/css">
table.show {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
table.show th {
    background-color:#c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.show tr {
    background-color:#d4e3e5;
}
table.show td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
</style>
<body>
<p>

<div id = "tingyun">
{% for i in res %}
		<form action="/detail_page/" method="post">{% csrf_token %}  		
		<h3><span>歌名  </span>{{ i.5 }}</h3>
		{{" " | escape|linebreaks}}
		<span>歌手 : </span>{{ i.2 }}
		{{" " | escape|linebreaks}}
		<span>简介 : </span>
		{% if i.12|length >= 200 %}
			{{ i.12|slice:"200" }}......  
		{% else %}
			{{ i.12 }}
		{% endif %}

		<input name = "a" id="oid" type="hidden" value = {{i.0}}></input>
		<input type="submit" id="get_more" value = "get more ...."></a>
		</form>
		<!-- <input type="button" value="阅读更多信息" id="temp_id" onclick="get_oid();" data_id={{i.0}}></input> -->
	
{{" " | escape|linebreaks}}
{% endfor %}

</p>
<!--
<p>
<div id = "tingyun">
{% for i in res %}
	<div>
		<h3><span>歌名  </span>{{ i.5 }}</h3>
		{{" " | escape|linebreaks}}
		<span>歌手 : </span>{{ i.2 }}
		{{" " | escape|linebreaks}}
		<span>简介 : </span>
		{% if i.12|length >= 200 %}
			{{ i.12|slice:"200" }}......  
		{% else %}
			{{ i.12 }}
		{% endif %}
		<input id="oid" type="hidden" value = {{i.0}}></input>
		<input type="button" value="阅读更多信息" id="temp_id" onclick="get_oid();" data_id={{i.0}}></input>
	</div>
{{" " | escape|linebreaks}}
{% endfor %}
</div>
</p>


<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
     function get_oid(){
         //var my_oid = $("#oid").val();
	 var my_oid = $("#temp_id").attr('data_id');
         alert(my_oid);
	 return;
	 $.ajax({
             url:"/final_page/",
             type:'GET',
             data:{'oid':my_oid},
             success: function (data) {
	     	//alert(data);
		var a = data;
		location.href = "/detail_page"+"?a="+a
             }
 
         });
     }
</script>
<script>
    $(document).ready(function(){
      $("#get_oid1").click(function(){
        var a = $("#oid").val();
        $.get("/final_page/",{'oid':a}, function(ret){
            $('#tingyun').html(ret)

        })
      });
    });
</script>
-->
</body>
<!--
<p><span id = "res1">  </span> </p>
{% for i in res1 %}
{{ i.artist_info }}
{{ i.url }}
{{ i.site_name }}
{{" " | escape|linebreaks}}
{% endfor %}
<div >
<table class = "show" width = "100%">
<tr>
	<td class="tt1">编号</td>
	<td class="tt2">歌曲名字</td>
	<td class="tt3">所属艺人</td>
	<td class="tt4">版权所属</td>
	<td class="tt5">分类标签</td>
	<td class="tt6">语言</td>
	<td class="tt7">出版日期</td>
	<td class="tt8">所属专辑</td>
	<td class="tt9">平台来源</td>
</tr>
<p><span>
{% for i in res2 %}
<tr>
	<td class="t1">{{ i.0 }}</td>
	<td class="t2">{{ i.5 }}</td>
	<td class="t3">{{ i.2 }}</td>
	<td class="t4">{{ i.7 }}</td>
	<td class="t5">{{ i.9 }}</td>
	<td class="t6">{{ i.4 }}</td>
	<td class="t7">{{ i.10 }}</td>
	<td class="t8">{{ i.11 }}</td>
	<td class="t9">{{ i.3 }}</td>
</tr>
{{" " | escape|linebreaks}}
{% endfor %}
</span></p>
</table>
</div>
</body>
-->

